@import "../common-style.css";

/*Custom color definitions*/
* {	
	-primary-text-color: -fx-text-base-color;	
}

.combo-box-popup .list-view {
	-fx-background-insets: 0;
	-fx-padding: 0;
}

.combo-box-popup .list-view .list-cell:selected,
.combo-box-popup .list-view .list-cell:hover {
	-fx-text-fill: white;
	-fx-background-color: #5FBBFF;
}

.empty-placeholder {
	-fx-background-color: #FFFFFF;		
}

.empty-torrent-list-text {
	-fx-fill: #188a1d;
}

.filter-list-view {
	-fx-background-color: #343f44;
	-fx-control-inner-background: #343f44;
}

.filter-list-view .tree-cell .text {
    -fx-fill: #eaeaea;
}

.filter-list-view .tree-cell:empty:hover {
	-fx-background-color: #343f44;
}

.filter-list-view .tree-cell:hover {
	-fx-background-color: #222222;
}

.filter-list-view .tree-cell:selected {
    -fx-background-color: #76b83e;       
}

.filter-text-field {
  -fx-background-image: url("../../icons/toolbar_filter.png");
}

.info-pane {
	-fx-border-color: #C7C7C7;
  	-fx-border-width: 2;
	-fx-padding: 0 0 0 3;
}

.info-pane-category-label {
	-fx-background-color: #DADADA;
    -fx-text-fill: -primary-text-color;
}

.menu-button:hover .label, .menu-button:showing .label,
.menu-bar .menu-item:focused .label,
.context-menu .menu-item:focused .label {
	-fx-text-fill: white;
}

.menu-bar .label, .menu-bar .menu-item .label,
.context-menu .menu-item .label {
	-fx-text-fill: black;
}

.menu-item .mnemonic-underline {
    -fx-stroke: -fx-text-base-color;
}

.option-category-label {	
	-fx-background-color: #3399FF;
	-fx-border-color: #888888 white #DDDDDD #999999;	
	-fx-text-fill: white;	
}

.option-category-selection-list .tree-cell:selected .text {
 	-fx-fill: white;
}

.option-category-selection-list:focused .tree-cell .text {
	-fx-fill: black;
}

.option-category-selection-list:focused .tree-cell:selected .text {
	-fx-fill: white;
}

.option-category-selection-list .tree-cell:selected {
    -fx-background-color: #5FBBFF;
}

.option-category-selection-list .tree-cell .tree-disclosure-node .arrow {
    -fx-background-image: url("../../icons/section_expand.png");
}

.option-category-selection-list .tree-cell:expanded .tree-disclosure-node .arrow {
    -fx-background-image: url("../../icons/section_collapse.png");
}

.root {
	-fx-accent: #5FBBFF;
	-fx-background-color: -fx-base;	
}

.status-bar {
	-fx-background-color: #DDDDDD;
}

.tab {	
	-fx-background-color: 	
        linear-gradient(#fcfcfc, #f3f3f3),
        linear-gradient(#f2f2f2 0%, #ebebeb 29%, #dddddd 30%, #cfcfcf 100%);
    -fx-border-color: #898C95;	
}

.tab:selected {
	-fx-background-color: white;	
}

.table-view .column-header, .table-view .filler,
	.tree-table-view .column-header, .tree-table-view .filler {
	-fx-background-color: 
        linear-gradient(#ffffff 0%, #ffffff 49%, #f3f4f6 50%, #f3f4f6 100%);
    -fx-border-color: #dAdAdA;
}

.table-row-cell:empty {
    -fx-background-color: white;
}

.table-row-cell:selected {
    -fx-background-color: #5FBBFF; /*#E2EDF9;*/
    -fx-text-fill: white;
}

.table-row-odd {
	-fx-background-color: #E0E0E0; /*#F0F0F0;*/
}

.titled-border-compact {
  -fx-border-color: #CCCCCC;
}

.titled-border-ample {
  -fx-border-color: #CCCCCC;
}

.tool-bar:horizontal {
    -fx-background-color:
    	linear-gradient(#fcfcfc, #f3f3f3),
        linear-gradient(#f2f2f2 0%, #ebebeb 29%, #dddddd 30%, #cfcfcf 100%);
}

.toolbar-button {
	-fx-background-color:
        linear-gradient(#fcfcfc, #f3f3f3),
        linear-gradient(#f2f2f2 0%, #ebebeb 29%, #dddddd 30%, #cfcfcf 100%);
}

.toolbar-button:hover {
    -fx-background-color:
    	linear-gradient(#f3f3f3, #fcfcfc),
    	linear-gradient(#cfcfcf 0%, #dddddd 29%, #ebebeb 30%, #f2f2f2 100%);
}

.toolbar-button:pressed {
	-fx-background-color: #cfcfcf;
}

.toolbar-separator .line {
	-fx-border-color: rgb(210, 210, 210);
}

.tree-table-row-cell:selected .text,
.tree-table-view:focused .tree-cell .text,
.tree-table-view:focused .tree-cell:selected .text,
.table-row-cell:selected .text,
.table-view:focused .tree-cell .text,
.table-view:focused .tree-cell:selected .text {
    -fx-fill: white;
}

.tree-table-row-cell:selected {
    -fx-background-color: #5FBBFF; /*#E2EDF9;*/
}