@import "../common-style.css";

/*Custom color definitions*/
* {	
	-error-text-color: red;
	-primary-text-color: -fx-text-base-color;	
}

.combo-box-popup .list-view {
	-fx-background-insets: 0;
	-fx-padding: 0;
}

.combo-box-popup .list-view .list-cell:selected,
.combo-box-popup .list-view .list-cell:hover {
	-fx-text-fill: white;
	-fx-background-color: #3399FF;
}

.empty-placeholder {
	-fx-background-color: #FFFFFF;		
}

.empty-torrent-list-text {
	-fx-fill: #188a1d;
}

.filter-list-view {
	-fx-background-color: #343f44;
	-fx-control-inner-background: #343f44;
}

.filter-list-view .tree-cell .text {
    -fx-fill: #eaeaea;
}

.filter-list-view .tree-cell:empty:hover {
	-fx-background-color: #343f44;
}

.filter-list-view .tree-cell:hover {
	-fx-background-color: #222222;
}

.filter-list-view .tree-cell:selected {
    -fx-background-color: #76b83e;       
}

.menu-button:hover .label, .menu-button:showing .label,
.menu-bar .menu-item:focused .label,
.context-menu .menu-item:focused .label {
	-fx-text-fill: white;
}

.menu-bar .label, .menu-bar .menu-item .label,
.context-menu .menu-item .label {
	-fx-text-fill: black;
}

.menu-item .mnemonic-underline {
    -fx-stroke: -fx-text-base-color;
}

.option-category-label {	
	-fx-background-color: #3399FF;
	-fx-border-color: #888888 white #DDDDDD #999999;
	-fx-border-width: 2; 
	-fx-font-size: 14;
	-fx-font-weight: bold;
	-fx-label-padding: 4;
	-fx-min-height: 30;
	-fx-text-fill: white;	
}

.option-category-selection-list {
	-fx-min-width: 130;	
}

.option-category-selection-list .tree-cell:selected .text {
 	-fx-fill: white;
}

.option-category-selection-list:focused .tree-cell .text {
	-fx-fill: black;
}

.option-category-selection-list:focused .tree-cell:selected .text {
	-fx-fill: white;
}

.option-category-selection-list .tree-cell:selected {
    -fx-background-color: #3399FF;       
}

.option-category-selection-list .tree-cell .tree-disclosure-node .arrow {
    -fx-background-image: url("../../icons/section_expand.png");
}

.option-category-selection-list .tree-cell:expanded .tree-disclosure-node .arrow {
    -fx-background-image: url("../../icons/section_collapse.png");	  	 
  	-fx-rotate: 0;
}

.progress-bar > .track {
  	/* Expand track's width and height */
  	-fx-background-insets: 0;
}

.root {
	-fx-accent: #3399FF;
	-fx-background-color: -fx-base;
	-fx-faint-focus-color: transparent;
	-fx-focus-color: linear-gradient(to bottom, derive(-fx-text-box-border, -10%), 
			-fx-text-box-border),
        linear-gradient(from 0px 0px to 0px 5px, derive(-fx-control-inner-background, -9%), 
        	-fx-control-inner-background);	
	-fx-font-size: 12;
}

.status-bar {	
	-fx-pref-height: 20;	
	-fx-background-color: #DDDDDD;
}

.tab {	
	-fx-background-color: 	
        linear-gradient(#fcfcfc, #f3f3f3),
        linear-gradient(#f2f2f2 0%, #ebebeb 29%, #dddddd 30%, #cfcfcf 100%);
    -fx-border-color: #898C95;	
}

.tab:selected {
	-fx-background-color: white;	
}

.table-cell {
  	-fx-table-cell-border-color: transparent;
}

.table-view .column-header, .table-view .filler,
	.tree-table-view .column-header, .tree-table-view .filler {
	-fx-background-color: 
        linear-gradient(#ffffff 0%, #ffffff 49%, #f3f4f6 50%, #f3f4f6 100%);
    -fx-border-color: #dAdAdA;
}

.table-row-cell {
    -fx-cell-size: 20px;
    -fx-background-color: transparent;
}

.table-row-cell:empty {
    -fx-background-color: white;
}

.table-row-cell:empty .table-cell {
    -fx-border-width: 0px;
}

.table-row-cell:selected {
    -fx-background-color: #E2EDF9;
}

.text{
    -fx-font-smoothing-type: lcd;
    /*-fx-fill:-primary-text-color;*/
}

.titled-border-compact {
  -fx-border-color: #CCCCCC;
}

.titled-border-ample {
  -fx-border-color: #CCCCCC;
}

.tool-bar:horizontal {
    -fx-background-color: 
    	linear-gradient(#fcfcfc, #f3f3f3),
        linear-gradient(#f2f2f2 0%, #ebebeb 29%, #dddddd 30%, #cfcfcf 100%);
}

.toolbar-button {
	-fx-background-color: 
        linear-gradient(#fcfcfc, #f3f3f3),
        linear-gradient(#f2f2f2 0%, #ebebeb 29%, #dddddd 30%, #cfcfcf 100%);
}

.toolbar-button:hover {
    -fx-background-color: 
    	linear-gradient(#f3f3f3, #fcfcfc),
    	linear-gradient(#cfcfcf 0%, #dddddd 29%, #ebebeb 30%, #f2f2f2 100%);
}

.toolbar-button:pressed {
	-fx-background-color: #cfcfcf;
}

.toolbar-separator .line {
	-fx-border-color: rgb(210, 210, 210);
  	-fx-border-width: 1;
}

.tree-table-row-cell:selected .text {
    -fx-fill: black;
}

.tree-table-row-cell {
    -fx-cell-size: 20px;
    -fx-background-color: transparent;
}

.tree-table-view:focused .tree-cell .text {
    -fx-fill: black;
}

.tree-table-cell {
  	-fx-table-cell-border-color: transparent;
}

.tree-table-row-cell:selected {
    -fx-background-color: #E2EDF9;       
}

.tree-table-view:focused .tree-cell:selected .text {
    -fx-fill: black;
}

.tree-table-row-cell:selected .tree-disclosure-node .arrow {
	-fx-background-image: url("../../icons/section_expand.png");
}

.tree-table-row-cell:selected:expanded .tree-disclosure-node .arrow {
	-fx-background-image: url("../../icons/section_collapse.png");
}

.tree-table-row-cell .tree-disclosure-node .arrow {
    -fx-background-image: url("../../icons/section_expand.png");
}

.tree-table-row-cell:expanded .tree-disclosure-node .arrow {
    -fx-background-image: url("../../icons/section_collapse.png");
}