/*Custom color definitions*/
* {
	-error-text-color: red;	
}

.availability-bar {
	-fx-background-color: -fx-base;
}

.borderless-split-pane {
	-fx-padding: 0;
}

.empty-placeholder {
	-fx-background-color: -primary-color;
}

.empty-torrent-list-text {
	-fx-font-size: 13;
	-fx-font-smoothing-type: lcd;
	-fx-font-weight: bold;
}

.filter-list-child-cell {
	-fx-font-size: 11;
	-fx-padding: 0 0 0 25;
	-fx-pref-height: 20;
}

.filter-list-root-cell {
	-fx-font-size: 13;
	-fx-pref-height: 20;
}

.filter-list-root-cell-no-children {
	-fx-font-size: 13;
	-fx-pref-height: 20;
	-fx-padding: 0;
}

.filter-list-view .tree-cell: {
	-fx-pref-height: 20;
}

.filter-list-view .tree-cell .tree-disclosure-node {
	-fx-padding: 4 0 4 2;
}

.filter-list-view .tree-cell .tree-disclosure-node .arrow {
	-fx-background-color: transparent;
    -fx-background-image: url("../../icons/section_expand_dark.png");
    -fx-background-position: center center;
    -fx-background-repeat: stretch;
  	-fx-background-size: 28.0 28.0;
  	-fx-min-height: 12;
  	-fx-min-width: 12;
  	-fx-shape: null;
}

.filter-list-view .tree-cell:expanded .tree-disclosure-node .arrow {
    -fx-background-image: url("../../icons/section_collapse_dark.png");
  	-fx-rotate: 0;
}

.info-pane {
	-fx-background-color: -fx-base;
	-fx-padding: 1;
}

.info-pane-category-label {
	-fx-font-size: 14;
	-fx-font-weight: bold;
	-fx-pref-height: 22;
}

.label-text {
	-fx-font-size: 15;
}

.layout-horizontal-spacing {
	-fx-spacing: 5;
}

.layout-vertical-spacing {
	-fx-spacing: 5;
}

.left-aligned-column-header {
    -fx-text-fill: #343f44;
    -fx-font-weight: normal;
    -fx-alignment: BASELINE_LEFT;
    -fx-font-size: 12;
    -fx-padding: 0 0 0 10;
}

.option-category-indentation {
	-fx-padding: 0 0 0 25;
}

.option-category-label {
	-fx-border-width: 2; 
	-fx-font-size: 14;
	-fx-font-weight: bold;
	-fx-label-padding: 4;
	-fx-min-height: 30;
}

.option-category-selection-cell {
	-fx-padding: 0 0 0 2;
	-fx-pref-height: 12;
}

.option-category-selection-root-cell {
	-fx-padding: 0 0 0 6;
	-fx-pref-height: 12;
}

.option-category-selection-list {
	-fx-min-width: 130;	
}

.option-category-selection-list .tree-cell .tree-disclosure-node {
	-fx-padding: 2 0 4 2;
}

.option-category-selection-list .tree-cell .tree-disclosure-node .arrow {
	-fx-background-color: transparent;
    -fx-background-position: center center;
    -fx-background-repeat: stretch;
  	-fx-background-size: 28.0 28.0;
  	-fx-min-height: 12;
  	-fx-min-width: 12;
  	-fx-shape: null;
}

.option-category-selection-list .tree-cell:expanded .tree-disclosure-node .arrow {    	  	 
  	-fx-rotate: 0;
}

.option-category-selection-list .tree-cell:selected .tree-disclosure-node .arrow {
	-fx-background-image: url("../../icons/section_expand_dark.png");
}

.option-category-selection-list .tree-cell:selected:expanded .tree-disclosure-node .arrow {
	-fx-background-image: url("../../icons/section_collapse_dark.png");
}

.progress-bar > .bar {
	/* Expand bar's width and height */
	-fx-background-insets: 0;
}

.progress-bar > .track {
	/* Border color */
  	-fx-text-box-border: transparent;
}

.progress-bar-stopped {
	/* Bar color */
	-fx-accent: #8D1C10;
}

.right-aligned-column-header {
    -fx-text-fill: #343f44;
    -fx-font-weight: normal;
    -fx-alignment: BASELINE_RIGHT;
    -fx-font-size: 12;
    -fx-padding: 0 10 0 0;
}

.root {
	-fx-faint-focus-color: transparent;
	-fx-focus-color: linear-gradient(to bottom, derive(-fx-text-box-border, -10%), 
			-fx-text-box-border),
        linear-gradient(from 0px 0px to 0px 5px, derive(-fx-control-inner-background, -9%), 
        	-fx-control-inner-background);
    -fx-font-size: 12;
	/*-fx-font-family: Futura;*/
}

.scroll-pane {
	-fx-background-color: transparent;
}

.split-pane > .split-pane-divider {
	-fx-padding: 0 0.15em 0 0.15em;
}

.status-bar {	
	-fx-pref-height: 20;	
}

.status-bar-label {
	-fx-background-color: -fx-base;
	-fx-border-color: transparent;
}

.tab:selected .focus-indicator {
    -fx-border-color: transparent;
}

.table-cell, .tree-table-cell {
  	-fx-table-cell-border-color: transparent;
}

.table-row-cell, .tree-table-row-cell {
    -fx-cell-size: 20px;
    -fx-background-color: transparent;
}

.table-row-cell:empty .table-cell {
    -fx-border-width: 0px;
}

.table-row-cell:odd, .tree-table-row-cell:odd {
    -fx-cell-size: 20px;
}

.table-view .column-header, .table-view .filler,
	.tree-table-view .column-header, .tree-table-view .filler {
    -fx-border-width: 1px;
    -fx-size: 22;
}

.table-view:focused .table-cell .table-row-cell:selected .text {
    -fx-fill: black;
}

.text {
    -fx-font-smoothing-type: lcd;      
}

.titled-border-compact {
  	-fx-content-display: top;
  	-fx-border-insets: 10 0 0 0;
  	-fx-border-width: 1;
}

.titled-border-ample {
  	-fx-content-display: top;
  	-fx-border-insets: 10 0 10 0;
  	-fx-border-width: 1;
}

.titled-border-title {
  	-fx-translate-x:  4;
  	-fx-translate-y: -10;
  	-fx-padding: 0 0 0 4;
}

.titled-border-compact-content {
  	-fx-padding: 8 10 5 8
}

.titled-border-ample-content {
  	-fx-padding: 13 10 5 8
}

.toolbar-button {
	-fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-pref-height: 18;
    -fx-pref-width: 18;
}

.tool-bar:horizontal {
	-fx-alignment: CENTER_LEFT;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-border-width: 0;
    -fx-padding: 4 0 4 0;
    -fx-spacing: 0;
}

.toolbar-separator .line {
  	-fx-border-width: 1;
}

.tree-table-row-cell:selected .tree-disclosure-node .arrow {
	-fx-background-image: url("../../icons/section_expand.png");
}

.tree-table-row-cell:selected:expanded .tree-disclosure-node .arrow {
	-fx-background-image: url("../../icons/section_collapse.png");
}

.tree-table-row-cell .tree-disclosure-node .arrow {
	-fx-background-color: transparent;
	-fx-background-image: url("../../icons/section_expand.png");
    -fx-background-position: center center;
    -fx-background-repeat: stretch;
  	-fx-background-size: 28.0 28.0;
  	-fx-min-height: 12;
  	-fx-min-width: 12;
  	-fx-shape: null;
}

.tree-table-row-cell:expanded .tree-disclosure-node .arrow {
	-fx-background-image: url("../../icons/section_collapse.png");
  	-fx-rotate: 0;
}