.dialog-pane {
    -fx-background-color: #2A2B2C;    
}

/*.dialog-pane .label {
    -fx-text-fill: #EEEEEE;    
}*/

.dialog-pane .button:default {
	-fx-background-color: linear-gradient(#4EA1FE 0%, #4B9CFE 29%, #4B9CFE 30%, #408CFE 100%);
	-fx-text-fill: #eaeaea;
}

.dialog-pane .button:default:hover {
    -fx-background-color: #444444;
}

.dialog-pane .button:default:disabled {
	-fx-background-color: black;
}

/*.dialog-pane:header .header-panel {
    -fx-background-color: black;
}

.dialog-pane:header .header-panel .label {
    -fx-font-style: italic;
    -fx-font-size: 2em;
}*/