@import "../common-style.css";

/*@font-face {
	font-family:'Futura';
	src: url("fonts/16023_FUTURAN.ttf");
}*/

/*Custom color definitions*/
* {
	-primary-color: #2A2B2C;	
	-error-text-color: red;
	-list-control-background: #222122;
	-primary-text-color: #EAEAEA;
	-selection-color: #036192;
		
}

.button:default {
	-fx-background-color: linear-gradient(#4EA1FE 0%, #4B9CFE 29%, #4B9CFE 30%, #408CFE 100%);
	-fx-text-fill: -primary-text-color;
}

.button:default:disabled {
	-fx-background-color: black;
}

.button:default:hover {
    -fx-background-color: #444444;
}

.combo-box-popup .list-view {
	-fx-border-color: black;
	-fx-control-inner-background: -list-control-background;
}

.combo-box-popup .list-view .list-cell:selected {
	-fx-text-fill: -primary-text-color;
	-fx-background-color: -selection-color;
}

.context-menu {
	-fx-border-color: black;
	-fx-background-color: -list-control-background;
}

.context-menu .separator {
	-fx-background-color: #444444;
}

.empty-placeholder {
	-fx-background-color: -primary-color;
}

.empty-torrent-list-text {
	-fx-fill: #7DA647;
}

.filter-list-view { 
	-fx-background-color: #242C2F;
	-fx-background-radius: 0;
	-fx-control-inner-background: #242C2F;
}

.filter-list-view .tree-cell .text {
    -fx-fill: -primary-text-color;
}

.filter-list-view .tree-cell:empty:hover {
	-fx-background-color: #242C2F;
}

.filter-list-view .tree-cell:hover {
	-fx-background-color: #222222;
}

.filter-list-view .tree-cell:selected {
    -fx-background-color: #5C8526;
}

.info-pane-category-label {
	-fx-background-color: #47484B;
    -fx-border-color: black;
    -fx-text-fill: -primary-text-color;
}

.menu-bar .menu-item:focused,
.context-menu .menu-item:focused {
	-fx-background-color: #046293;
}

.menu-bar .menu-item,
.context-menu .menu-item,
.menu-button:hover, .menu-button:showing {
	-fx-background-color: -list-control-background;	
}

.menu-button:hover .label, .menu-button:showing .label,
.menu-bar .menu-item:focused .label,
.context-menu .menu-item:focused .label,
.menu-bar .label, .menu-bar .menu-item .label,
.context-menu .menu-item .label {
	-fx-text-fill: -primary-text-color;			
}

.menu-item .mnemonic-underline {
    -fx-stroke: -primary-text-color;
}

.option-category-label {	
	-fx-background-color: #046293;
	-fx-border-color: #333333 #666666 #777777 black;
	-fx-border-width: 2; 
	-fx-font-size: 14;
	-fx-font-weight: bold;
	-fx-label-padding: 4;
	-fx-min-height: 30;
	-fx-text-fill: -primary-text-color;	
}

.option-category-selection-list {
	-fx-min-width: 130;		
	-fx-control-inner-background: -fx-base;	
}

.option-category-selection-list .tree-cell:selected .text,
.option-category-selection-list:focused .tree-cell .text,
.option-category-selection-list:focused .tree-cell:selected .text {
 	-fx-fill: -primary-text-color;
}

.option-category-selection-list .tree-cell:selected {
    -fx-background-color: #046293;       
}

.option-category-selection-list .tree-cell .tree-disclosure-node .arrow {
    -fx-background-image: url("../../icons/section_expand_dark.png");
}

.option-category-selection-list .tree-cell:expanded .tree-disclosure-node .arrow {
    -fx-background-image: url("../../icons/section_collapse_dark.png");	  	 
  	-fx-rotate: 0;
}

.progress-bar {
	-fx-control-inner-background: -list-control-background;
	-fx-background-color: #47484B;	
}

.progress-bar > .track {
  	/* Expand track's width and height */
  	-fx-background-insets: 1;
}

.root {
	-fx-accent: -selection-color;
	-fx-background-color: -primary-color;
	-fx-base: -primary-color;
	-fx-faint-focus-color: transparent;
	-fx-focus-color: linear-gradient(to bottom, derive(-fx-text-box-border, -10%), 
			-fx-text-box-border),
        linear-gradient(from 0px 0px to 0px 5px, derive(-fx-control-inner-background, -9%), 
        	-fx-control-inner-background);	
	-fx-font-size: 12;		
	/*-fx-font-family: Futura;*/
}

.status-bar {		
	-fx-pref-height: 20;	
	-fx-background-color: black;	
}

.tab {		
	-fx-background-color: #47484B;        
    -fx-border-color: black;	
}

.tab:selected {
	-fx-background-color: 
		linear-gradient(#fcfcfc, #f3f3f3),
		linear-gradient(#28282A 0%, #2D2E2F 29%, #2D2E2F 30%, #343537 100%);
	-fx-background-insets:0;	
}

.table-cell, .tree-table-cell {
  	-fx-table-cell-border-color: transparent;
}

.table-view, .tree-table-view {
	-fx-background-insets: 0;
	-fx-background-color: -primary-color;	
}

.table-view .column-header, .table-view .filler,
	.tree-table-view .column-header, .tree-table-view .filler {
	-fx-background-color: 
        linear-gradient(#7B7B7B 0%, #2C2C2C 29%, #2C2C2C 30%, #2C2C2C 100%);
    -fx-border-color: black;
}

.table-row-cell, .tree-table-row-cell {
    -fx-cell-size: 20px;
    -fx-background-color: transparent;
}

.table-row-cell:odd, .tree-table-row-cell:odd {
    -fx-cell-size: 20px;
    -fx-background-color: -list-control-background;
}

.table-row-cell:empty, .tree-table-row-cell:empty {
    -fx-background-color: transparent;
}

.table-row-cell:empty .table-cell {
    -fx-border-width: 0px;
}

.table-row-cell:selected, .tree-table-row-cell:selected {
    -fx-background-color: -selection-color;
}

.text {
    -fx-font-smoothing-type: lcd;     
    -fx-fill: -primary-text-color;     
}

.text-area {
	-fx-background-color: -fx-background;	
	-fx-background-radius: 0;
	-fx-control-inner-background: -list-control-background;
	-fx-text-fill: -primary-text-color;
}

.text-field {
	-fx-background-color: -fx-base;
	-fx-border-color: gray; 
	-fx-text-fill: -primary-text-color;
}

.titled-border-compact {
  	-fx-border-color: gray;
}

.titled-border-ample {
  	-fx-border-color: gray;
}

.tool-bar:horizontal {
    -fx-background-color: 
    	linear-gradient(#fcfcfc, #f3f3f3),
        linear-gradient(#565656 0%, #3C3C3C 29%, #3C3C3C 30%, #202121 100%);
}

.toolbar-button {
	-fx-background-color: 
        linear-gradient(#fcfcfc, #f3f3f3),
        linear-gradient(#565656 0%, #3C3C3C 29%, #3C3C3C 30%, #202121 100%);
}

.toolbar-button:hover {
    -fx-background-color: 
    	linear-gradient(#fcfcfc, #f3f3f3),
        linear-gradient(#202121 0%, #3C3C3C 29%, #3C3C3C 30%, #565656 100%);
}

.toolbar-button:pressed {
	-fx-background-color: -fx-base;
}

.toolbar-separator .line {
	-fx-border-color: #131313;
  	-fx-border-width: 1;
}

.tree-table-row-cell:selected .text {
    -fx-fill: -primary-text-color;
}

.tree-table-view:focused .tree-cell .text,
.tree-table-view:focused .tree-cell:selected .text {
    -fx-fill: black;
}

.tree-table-row-cell:selected .tree-disclosure-node .arrow {
	-fx-background-image: url("../../icons/section_expand_dark.png");
}

.tree-table-row-cell:selected:expanded .tree-disclosure-node .arrow {
	-fx-background-image: url("../../icons/section_collapse_dark.png");
}

.tree-table-row-cell .tree-disclosure-node .arrow {
    -fx-background-image: url("../../icons/section_expand_dark.png");
}

.tree-table-row-cell:expanded .tree-disclosure-node .arrow {
    -fx-background-image: url("../../icons/section_collapse_dark.png");
}