.empty-torrent-list-text {
	-fx-fill: #188a1d;
	-fx-font-size: 13;
	-fx-font-smoothing-type: lcd;
	-fx-font-weight: bold;
}

.filter-list-view {
	-fx-background-color: #343f44;
	-fx-control-inner-background: #343f44; 	
	-fx-min-width: 200;
}

.filter-list-child-cell {
	-fx-font-size: 11;
	-fx-padding: 0 0 0 30;
	-fx-pref-height: 28;		
}

.filter-list-root-cell {	
	-fx-font-size: 13;	
	-fx-pref-height: 28;
}

.root {
	-fx-faint-focus-color: transparent;
	-fx-focus-color: transparent;
}

.split-pane > .split-pane-divider {  
    -fx-padding: 0 0.15em 0 0.15em;  
}

.toolbar-button {
	-fx-background-insets: 0;
}

.toolbar-separator .line {
	-fx-border-color: rgb(210, 210, 210);
  	-fx-border-width: 1;
}

.tree-cell: {
	-fx-cell-size: 28;		
}

.tree-cell .text {
       -fx-fill: #eaeaea;
}

.tree-cell:selected {
    -fx-background-color: #76b83e;       
}

.tree-cell .tree-disclosure-node {
	-fx-background-color: transparent;	
	-fx-padding: 0 0 8 0;
}

.tree-cell .tree-disclosure-node .arrow {
	-fx-background-color: transparent;		             
    -fx-background-image: url("images/appbar.section.expand.png");
    -fx-background-position: center center;
    -fx-background-repeat: stretch;
  	-fx-background-size: 28.0 28.0;  	  	
  	-fx-min-height: 28;   
  	-fx-min-width: 28;   	
  	-fx-shape: null;
}
.tree-cell:expanded .tree-disclosure-node .arrow {
	-fx-background-color: transparent;	    
    -fx-background-image: url("images/appbar.section.collapse.png");
    -fx-background-position: center center;   
    -fx-background-repeat: stretch;
  	-fx-background-size: 28.0 28.0;  	  	 
  	-fx-rotate: 0;
  	-fx-shape: null;
}